<!doctype html>
<html lang="en" dir="ltr">
<head>
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://unpkg.com/pollen-css/pollen.css" />
  <script src="/script.js"></script>

  <!--favicon-->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <!--faviconEnd-->

  <!-- Primary Meta Tags -->
  <meta name="title" content="Jeff van Steijn — Product designer ">
  <meta name="description" content="Product designer from the Netherlands. Doing my best to create good-looking and delightful digital experiences.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.jeffvansteijn.nl/">
  <meta property="og:title" content="Jeff van Steijn — Product designer ">
  <meta property="og:description" content="Product designer from the Netherlands. Doing my best to create good-looking and delightful digital experiences.">
  <meta property="og:image" content="/images/meta.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.jeffvansteijn.nl/">
  <meta property="twitter:title" content="Jeff van Steijn — Product designer ">
  <meta property="twitter:description" content="Product designer from the Netherlands. Doing my best to create good-looking and delightful digital experiences.">
  <meta property="twitter:image" content="/images/meta.png">

</head>

{% include 'header.njk' %}

<body>
  <main>
    <p>{{ content | safe }}</p>
  </main>
</body>
</html>
