<div id="fade" class="topbar">
    <div class="header1">
      <a href="/" aria-label="logo"><svg class="logo" width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8.99999 4H12L4.47058 20H1.47058L8.99999 4Z" fill="#191A1A" class="svg-elem-1"></path>
<path d="M14.4706 20L22 4H19L11.4706 20H14.4706Z" fill="#191A1A" class="svg-elem-2"></path>
<path d="M9.47058 20L17 4H14L6.47058 20H9.47058Z" fill="#191A1A" class="svg-elem-3"></path>
</svg></a>
    </div>
    {% set currentUrl %}{{ page.url }}{% endset %}

    <nav>
      <ul role="menu" aria-label="menubar">
        <li>
          <a {% if currentUrl === '/' %}aria-current="page"{% endif %} href="/">Home</a>
        </li>
        {% for page in collections.pages %}
        <li>
          <a
            {% if currentUrl === page.url %}aria-current="page"{% endif %}
            href="{{ page.url }}">
              {{ page.data.title }}
          </a>
        </li>
        {%- endfor %}
      </ul>
    </nav>
</div>
