<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://unpkg.com/pollen-css/pollen.css" />
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
</head>


{% include 'header-thing.njk' %}


<body class="body-things">
<div class="hero-writing">

</div>

<div class="grid-read">
  <main>
  <article>
        <h2>{{ title }}</h2>
        {{ content | safe }}
  </article>
</main>
</div>

</body>
</html>
