<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://unpkg.com/pollen-css/pollen.css" />
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
</head>


{% include 'header.njk' %}


<body>
<main>
  <div class="hero-case">
    <div class="title">
      <a href="/" aria-label="Back to home" class="backlink">_Back</a>
      <h1>{{ title }}</h1>
    </div>
    <div class="description">
      <p>{{ workIntro }}</p>
    </div>
  </div>

  <div class="grid-read">
    <article>
          {{ content | safe }}
    </article>
  </div>
</main>
</body>
</html>
