/* Fonts headings */
@font-face {
    font-family: 'Tiempos Headline';
    src: url('fonts/TiemposHeadline/TiemposHeadlineWeb-Semibold.woff2') format('woff2'),
         url('fonts/TiemposHeadline/TiemposHeadlineWeb-Semibold.woff') format('woff'),
    font-weight: 600;
}

@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');



:root{
/* Colors*/
    --white-500: #fff;
    --black-500: #000;
    --gray-500: #546177;

/* brand colors */
  --baseline-500: #697075;
  --prost-500: #697075;
  --mijnsubsidie-500: #697075;
  --jop-500: #697075;

/*Font sizes*/
    --snow-900: #fff;
    --text-3:  0.75rem; /* 13px descriptions*/
    --text-4:  0.8125rem; /* 13px descriptions*/
    --text-5:   1rem;     /* 16px default*/
    --text-6:   1.25rem;  /* 20px */
    --text-7:   1.75rem;   /* 28px */
    --text-8:   2.0rem; /* 32px */
    --text-9:   2.5rem; /* 40px */

/* Lineheights */
    --lineheight-default: 1.5;

/* paddings */
    --dist-4:  0.25rem;
    --dist-8:  0.5rem;
    --dist-12: 0.75rem;
    --dist-16: 1rem;
    --dist-24: 1.5rem;
    --dist-32: 2.0rem;
}







/* Disable default heading margins */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Default paragraph */
p{
  font-family: 'Newsreader', serif;
  line-height: var(--lineheight-default);
  white-space: pre-line;
  color: var(--gray-500);
  font-size: var(--text-5);


}
/* Space between title and description  */
.title{
  padding-right: 24px;
  overflow: inherit;
}

a{
  text-decoration: none;
  color: inherit;
}

.backlink{
  color: #6328e1;
}
/* Headings */
h1{
  font-size: var(--text-9);
  font-family: 'TiemposHeadline';
  /* line-height: var(--lineheight-default); */
}

h2{
  font-size: var(--text-7);
}

h3{
  font-size: var(--text-7);
}

h6{
  font-family: 'Inter', sans-serif;
  font-size: var(--text-3);
  line-height: var(--lineheight-default);
  font-style: normal;
  font-weight: normal;
/* identical to box height, or 143% */

  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.date{
  background-color: black;
}

ul{
  text-decoration: none;
  padding-left: 0px;
}

li{
list-style-type: none;
background-color: white;
border-bottom: 1px solid black;
padding-top: 32px;
padding-bottom: 32px;
padding-left: 24px;
color: black;
}

li:hover{
  background-color: pink;
}

img { /* image fits within div */
    max-width: 100%;
    max-height: 100%;
}

.hero img{
  width: 1100px;
  object-fit: cover;

}

.baseline{
color: var(--baseline-500);
}

.jop{
  color: var(--jop-500);
}

.prost{
  color: var(--prost-500);
}

.ms{
  color: var(--mijnsubsidie-500);
}

/* Image of work */
.workshot{
  margin-bottom: 40px;
}

/* Turn of default figure margins */
figure{
  margin: 0;
  text-align: center;
}

.article-image{
  margin-top: var(--dist-16);
}

.writing{
  max-width: 600px;
  margin: 0 auto;
}

/* Article intro styling */
.intro-paragraph{
  font-size: var(--text-6);
  font-weight: 700;
  line-height: var(--lineheight-default);
  padding-top: var(--dist-16);
  max-width: 600px;
  margin: 0 auto;
}

.read-paragraph{
  padding-top: var(--dist-16);
  font-size: var(--text-6);
  max-width: 600px;
  margin: 0 auto;
}


/* ----------Layout-------------------------------- */

/* topheader */
.topbar{
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  margin: 0 auto;
  top: 0;
}

/* logo container */
.header1{
  /* background-color: #FFEF97; */
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Navigation top right */
.navigation{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navigation links */
nav a{
  font-family: 'Inter', sans-serif;
  padding-left: 16px;
  text-decoration: none;
  font-weight: 700;
  font-size: var(--text-4);
  color: black;
}


.backlink{
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: var(--text-4);
  color: #6328e1;
}

.tags{
  margin-top: var(--dist-8);
}

.hero{
  height: 500px;
  max-width: 1100px;
  margin: 0 auto;
  /* background-color: pink; */
  margin-top: 100px;
  padding-bottom: 48px;
  max-height: 50vh;
}

.article-asset{
margin-top: 40px;
margin-bottom: 40px;

}

.hero-work{
  max-width: 1100px;
  margin: 0 auto;
  /* background-color: pink; */
  margin-top: 100px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.description{
max-width: 600px;
padding-top: 20px;

}

.intro{
  display: flex;
  justify-content: space-between;
}


body {
  top: 0;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0px;
  margin-bottom: 0px;
  position: relative;
  background-color: #F9F8F6;

}

.grid-blog {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: 600px;
}

.grid-read {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: 1100px;
}

.grid-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
  margin: 0 auto;
  max-width: 1100px;
  margin-bottom: 200px;
}

.card {
  padding: 0px;

}

.card img{
  border: 1px solid #000000;
}

.card:hover{
  color: #6328e1;
  cursor: pointer;
    transition: 0.2s;
}

.AboutHover:hover + .hide{
  color: #6328e1;
  display: block;
  transition: 1.2s;
  padding-left: 12px;
  cursor: pointer;
}

.hide {
  display: none;
}

.hr4 {
  color: black;
}

.hr5 {
  color: gray;
}

.card p{
  margin-top: 2px;
  font-size: var(--text-4);
}


.item{
  background-color: pink;

}

header {
  grid-column: 1 / 4;
}

footer{
  background-color: #6328e1;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  text-align: center;
 bottom: 0;
 left: 0;
}

footer p{
  color: var(--white-500);
}

/* center */
article{
  margin-bottom: 110px;
}

/* empty asides */
aside
 {
  background: #FBFBFB;
  height: auto;
}


/* ------------ maxwidth 1148 ----------------------- */
@media all and (max-width: 1148px) {
body{
  background-color: #F9F8F6;
  padding-left: 2.0rem;
  padding-right: 2.0rem;
}



.header1{
  padding-left: 0rem;
}
.navigation{
  padding-right: 0rem;
}


}



/* ------------ maxwidth 700 ----------------------- */
@media all and (max-width: 700px) {

  body{
    /* background-color: gray; */
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .hero{
    margin-top:0px;
    height: 300px;
    }

.hero img{
  height: 900px;
  object-fit: cover;
}

  .grid-read{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .header1{
    padding-left: 1.0rem;
  }
  .navigation{
    padding-right: 1.0rem;
  }

/* makes images full screen on mobile */
  figure{
    margin-left: -1.0rem;
    margin-right: -1.0rem;
  }

/* Grid columns become full width >700px */
.grid-read{
  grid-template-columns: 1fr;
  padding-left: 1rem;
  padding-right: 1rem;

}

.grid-home{
  grid-template-columns: 1fr 1fr;
  padding-left: 1.0rem;
  padding-right: 1.0rem;
}


/* it works */
  /* aside,
  .grid-read {
    grid-column: 1 / 4;
  } */

  .hero-work{
    max-width: 1100px;
    margin: 0 auto;
    background-color: #F9F8F6;
    margin-top: 40px;
    padding-bottom: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-wrap: wrap;
  }

}
